.feature-item {
    
    position: relative;
    padding-bottom: 2rem;

    @mixin atSmall {
        padding-left: 94px;
    }

    &__icon{
        display: block;
        margin: 0 auto;

        @mixin atSmall{
            position: absolute;
            left: 0;
        }
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: .5rem;
        margin-top: 0.8em;
        text-align: center;

        @mixin atSmall{
            font-size: 1.7rem;
            margin-bottom: .8rem;
            margin-top: 1em;
            text-align: left;
        }
    }
}