.row{
    @mixin clearfix;

    &--gutters {
        margin-right: -65px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }


    &--margin-b-until-medium {
        margin-bottom: 1rem;

        @mixin atMedium {
            margin-bottom: 0;
        }
    }
}